{% extends "layout.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center" style="margin-top: 140px !important; margin-bottom: 120px !important;">
    <h1 class="display-5 fw-bold text-body-emphasis">Qarz daftar ilovasi</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Do'koningiz haridorlarini barcha qarzlarini hisob-kitob qilib beruvchi mutlaqo bepul platforma! Hoziroq foydalanish uchun ro'yxatdan o'tishingiz kerak!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
</div>
{% endblock %}